//
// Fonts
// --------------------------------------------------

//== Fonts
@font-face {
  font-family: "MuseoSans 100";
  src: url("fonts/MuseoSans-100.otf")
}
@font-face {
  font-family: "MuseoSans 300";
  src: url("fonts/MuseoSans-300.otf")
}
@font-face {
  font-family: "MuseoSans 500";
  src: url("fonts/MuseoSans-500.otf")
}
@font-face {
  font-family: "MuseoSans 700";
  src: url("fonts/MuseoSans-700.otf")
}
@font-face {
  font-family: "Questrial Regular";
  src: url("fonts/Questrial-Regular.ttf")
}
@font-face {
  font-family: "Alice Regular";
  font-style: normal;
  font-weight: 400;
  src: local(Alice),local(Alice-Regular),url(//fonts.gstatic.com/s/alice/v7/sZyKh5NKrCk1xkCk_F1S8A.eot?#) format("eot"),url(//fonts.gstatic.com/s/alice/v7/l5RFQT5MQiajQkFxjDLySg.woff2) format("woff2"),url(//fonts.gstatic.com/s/alice/v7/_H4kMcdhHr0B8RDaQcqpTA.woff) format("woff");
}